.gtr_notify {
    box-sizing: border-box;
    font-size: 16px;
    line-height: normal;
    margin: 6px 0 !important;
    overflow: hidden;
    padding: 12px 36px !important;
    position: relative;
}
.gtr_border {
    border-width: 1px;
    border-style: solid;
}
/* AAA accebillity color > 7 contrast*/
.gtr_info {
    background-color: #fff7da;
    color: #56562a;
}
/* border is background-color down to 20 point in firefox */
.gtr_info.gtr_border {
    border-color: #ebe3c6;
}
.gtr_success {
    background-color: #e6f4cd;
    color: #2e582e;
}
.gtr_success.gtr_border {
    border-color: #d2e0b9;
}
.gtr_warning {
    background-color: #ffe0b1;
    color: #594628;
}
.gtr_warning.gtr_border {
    border-color: #ebcc9d;
}
.gtr_error {
    background-color: #f9dcdc;
    color: #71363e;
}
.gtr_error.gtr_border {
    border-color: #e5c8c8;
}
.gtr_simple {
    background-color: #eee;
    color: #4e4e4e;
}
.gtr_simple.gtr_border {
    border-color: #dadada;
}
.gtr_notify > .rcli {
    color: rgba(0, 0, 0, 0.08);
    font-size: 52px;
    left: -10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.gtr_notify_text {
    text-align: center;
}
.gtr_notify_text > p {
    margin: 0;
    padding: 0;
}
.gtr_notify_header {
    color: currentColor;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 6px 6px;
}
.gtr_close {
    cursor: pointer;
    font-size: 15px;
    line-height: 15px;
    position: absolute;
    right: 2px;
    top: 0;
}
.gtr_close:hover {
    opacity: .7;
}
.gtr_close::before {
    color: currentColor;
    content: "\f00d";
    font-family: rcl-awesome;
}
